
@keyframes pulse-scale {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.25);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .pulse-scale {
    animation: pulse-scale 2s infinite;
  }
  

@keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.8);
  }
}

.animate-heartbeat {
  animation: heartbeat 1s ease-in-out infinite;
}
